{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}

{% if user.is_anonymous %}

<form action="" method="POST">
  <h3 align="center">Kontaktny formular</h3>
  {% for field, errors in contact_form.errors.items() %}
  {{ ', '.join(errors) }}
  {% endfor %}
  <br />
  {{ contact_form.csrf_token() }}
  <div class="form-group">
    {{ contact_form.email.label }}
    {{ contact_form.email(class="form-control") }}
  </div>
  <div class="form-group">
    {{ contact_form.first_name.label }}
    {{ contact_form.first_name(class="form-control") }}
  </div>
  <div class="form-group">
    {{ contact_form.last_name.label }}
    {{ contact_form.last_name(class="form-control") }}
  </div>
  <div class="form-group">
    {{ contact_form.contact_message.label }}
    {{ contact_form.contact_message(class="form-control") }}
  </div>
  <div class="form-group">
    {{ contact_form.submit(class="btn btn-primary")}}  
</form>

{% else %}

<form action="" method="POST">
  <h3 align="center">Kontaktny formular</h3>
  {% for field, errors in user_message_form.errors.items() %}
  {{ ', '.join(errors) }}
  {% endfor %}

  <br />
  {{ user_message_form.csrf_token() }}
  <div class="form-group">
    {{ user_message_form.message.label }}
    {{ user_message_form.message(class="form-control") }}
  <div class="form-group">
    {{ user_message_form.submit(class="btn btn-primary")}}  
</form>
{% endif %}
{% endblock %}
