{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
{% for field, errors in form.errors.items() %}
{{ ', '.join(errors) }}
{% endfor %}

<form action="" method="POST">
    {{ form.csrf_token() }}
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary")}}
    </div>
</form>
{% endblock %}