{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

<h1 align="center">Messages</h1>   
<ul class="list-group list-group-flush" id="messages">
    {% for user in users %}
    <li class="list-group-item">
    <label for="list-email"><b>Email Address:</b> {{ user.email }}</label>
    <br />
    <label for="list-first_name"><b>First Name:</b> {{ user.first_name }}</label>
    <br />
    <label for="list-last_name"><b>Last Name:</b> {{ user.last_name }}</label>
    <br /> 
        {% for message in user.user_messages %}
        <li class="list-group-item">
            <label for="list-date"><b>Date:</b> {{ message.date }}</label>
            <br />
            <label for="list-data"><b>Message: {{ message.id }}</b><br /> {{ message.data }}</label>
        </li>
        {% endfor %}
    </li>
    {% endfor %}

    <br />
    <br />

    {% for message in anon_user_messages %}
    <li class="list-group-item">
    <label for="list-anon-email"><b>Email Address:</b> {{ message.anon_email }}</label>
    <br />
    <label for="list-anon-first_name"><b>First Name:</b> {{ message.anon_first_name }}</label>
    <br />
    <label for="list-anon-last_name"><b>Last Name:</b> {{ message.anon_last_name }}</label>
    <br />
        {% for message in anon_user_messages %}
        <li class="list-group-item">
            <label for="list-anon-date"><b>Date:</b> {{ message.anon_date }}</label>
            <br />
            <label for="list-anon-data"><b>Message:</b><br /> {{ message.anon_data }}</label>
        </li>
        {% endfor %}
    </li>
    {% endfor %}
</ul>

{% endblock %}